includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
	level: 8
	paths:
		- ./app
		- ./database
		- ./routes
		- ./tests	
	noModelMake: false
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	universalObjectCratesClasses:
		- App\Livewire\Components\DataTable\DataTableInterface

	ignoreErrors:
		- '#^Call to an undefined method Illuminate\\Contracts\\View\\View::layout\(\)#'
		- '#^Parameter \#1 \$callback of method Illuminate\\(Support|Database\\Eloquent)\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Model\>::(each|map|filter)\(\) expects#'
		- '#^Parameter \#1 \$column of method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>::where\(\) expects#'
	