.autocomplete {
    ul {
        li {
            cursor: pointer;

            &[aria-selected="true"] {
                background-color: $dropdown-link-hover-bg;
            }

            mark {
                color: var(--bs-body-color);
                background-color: $autocomplete-highlight-bg;
            }
        }
    }
}
