.navbar {
    min-height: $navbar-base-height;
    z-index: $zindex-offcanvas + 2;

    .navbar-brand {
        padding: 0;
        margin-right: 0.5rem;
        margin-top: 0.5rem;

        .logo {
            width: 2.5rem;
        }
    }

    .navbar-nav {
        .dropdown {
            @include media-breakpoint-down(lg) {
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

.navbar-height {
    margin-bottom: $navbar-base-height;
}

@include color-mode(dark) {
    .navbar {
        .navbar-brand {
            .logo {
                filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(80deg) brightness(117%)
                    contrast(101%);
            }
        }
    }
}

.navbar-collapse-backdrop {
    z-index: $zindex-offcanvas + 1;

    @extend .offcanvas-backdrop;
}
