@include media-breakpoint-up(xl) {
    .sidebar-wrapper {
        position: relative;
        width: 0px; 
        transition: #{width $offcanvas-transition-duration ease-in-out};
        flex-shrink: 0;

        &.show {
            width: $offcanvas-horizontal-width;
        }
    }
}

.sidebar {
    .offcanvas-body {
        height: 100%;

        .navbar-nav {
            .nav-item {
                .dropdown {
                    .dropdown-menu.show {
                        position: relative !important;
                        transform: none !important;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }

    .nav-item.active {
        color: $primary;
    }
}