html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%; 
}

.wrapper {
    display: flex;
    position: relative;

    .content-wrapper {
        overflow-x: hidden;
        width: 100%;

        .content {
            min-height: 100vh;            
        }

        .background {
            background: url('/resources/images/background.jpg') no-repeat center center;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }        
    }    
}