.navbar-height {
    margin-bottom: $navbar-base-height;
}

.navbar {
    min-height: $navbar-base-height;
    z-index: calc(#{$zindex-offcanvas} + 1);
}

.navbar-brand {
    padding: 0;
    margin-right: 0.5rem;
    margin-top: 0.5rem;

    .logo {
        width: 2.5rem;
    }    
}

.navbar-nav {
    .dropdown {
        @include media-breakpoint-down(md) {
            .dropdown-menu {
                display: block;
            }
        }
    }    
}

@include color-mode(dark) {
    .navbar-brand {
        .logo {
            filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(80deg) brightness(117%) contrast(101%);
        }
    }
}   